$sectionColor: #333;
$titleColor: #54be68;
$titleFont: 'helsinki', sans-serif;
$bodyColor: #2cb060;
$bodyFont: 'Lato', sans-serif;

@font-face {
	font-family: 'helsinki';
	src:url('fonts/helsinki.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
};

body {
	position: relative;
	background: #4d4d4d;
	color: $bodyColor;

	a {
		text-decoration: none;
		&:visited {color:$bodyColor;}
	}

	ul li {
		list-style-type: none;
	}

	h1 {
		font-size: 3.8em;
		font-family: $titleFont;
		color: $titleColor;
	}

	font-family: $bodyFont;

	#wrapper{

		width: 100%;
		margin: 0;

		header {
			background: $sectionColor;
			height: 170px;
			width: 100%;
			overflow: hidden;

			img {
				display: block;
				float: left;
				position: relative;
				left: 10px;
				top: 10px;
			}

			h1 {
				position: relative;
				left: 30px;
				top: 15px;
				margin: 0;
			}
			h2 {
				margin: -10px 0 0 0;
				position: relative;
				top: 15px;
				left: 260px;
			}
		}

		#flyout {
			text-align: right;
			background: $sectionColor;
			display: inline-block;
			position: fixed;
			right: 0;
			top: 230px;
			padding-right: 10px; 
			z-index: 2;

			h3 {
				font-size: 1.5em;
				margin-bottom: 10px;
			}

			ul {
				padding-left: 10px;
			}

		}
		#MasonryContainer {
				width: 90%;
				position: relative;
				top: 0px;
				margin: 0 auto;
				padding-top: 10px; 

				#content {
				width: auto;
				margin: 0 auto;

				.piece {
				display: block;
				float: left;
				margin: 20px;
				width: 340px;
				-webkit-transition: left .3s ease-in-out, top .3s ease-in-out;
				}

				.featured {
					width: 680px;

				}
			}
		}
	}
}