@font-face {
  font-family: 'helsinki';
  src: url("fonts/helsinki.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background: #4d4d4d;
  color: #2cb060;
  width: 100%;
  font-family: "Lato", sans-serif; }
  body a {
    text-decoration: none; }
    body a:visited {
      color: #2cb060; }
  body ul li {
    list-style-type: none; }
  body h1 {
    font-size: 3.8em;
    font-family: "helsinki", sans-serif;
    color: #54be68; }
  body #wrapper header {
    background: #333333;
    height: 170px; }
    body #wrapper header img {
      display: block;
      float: left;
      position: relative;
      left: 10px;
      top: 10px; }
    body #wrapper header h1 {
      position: relative;
      left: 30px;
      top: 15px;
      margin: 0; }
    body #wrapper header h2 {
      margin: -10px 0 0 0;
      position: relative;
      top: 15px;
      left: 260px; }
  body #wrapper article#flyout {
    text-align: right;
    background: #333333;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 230px;
    padding-right: 10px; }
    body #wrapper article#flyout h3 {
      font-size: 1.5em; }
