$sectionColor: #333;
$titleColor: #54be68;
$titleFont: 'helsinki', sans-serif;
$bodyColor: #2cb060;
$bodyFont: 'Lato', sans-serif;

@font-face {
	font-family: 'helsinki';
	src:url('fonts/helsinki.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
};

body {
	background: #4d4d4d;
	color: $bodyColor;

	a {
		text-decoration: none;
		&:visited {color:$bodyColor;}
	}

	ul li {
		list-style-type: none;
	}

	h1 {
		font-size: 3.8em;
		font-family: $titleFont;
		color: $titleColor;
	}

	font-family: $bodyFont;

	#wrapper{

		width: 100%;
		margin: 0 auto;

		header {
			background: $sectionColor;
			height: 170px;

			img {
				display: block;
				float: left;
				position: relative;
				left: 10px;
				top: 10px;
			}

			h1 {
				position: relative;
				left: 30px;
				top: 15px;
				margin: 0;
			}
			h2 {
				margin: -10px 0 0 0;
				position: relative;
				top: 15px;
				left: 260px;
			}
		}

		article#flyout {
			text-align: right;
			background: $sectionColor;
			display: inline-block;
			position: fixed;
			right: 0;
			top: 230px;
			padding-right: 10px; 

			h3 {
				font-size: 1.5em;
			}

		}

		section#content {
			width: auto;
			margin: 0 auto;
			padding: 20px 0 0 20px;

			article.piece {
				display: block;
				float: left;
				margin: 0 20px 20px 0;
			}
		}

	}
}